.TodoList{
    margin-left: 900px;
    font-family: "Century Gothic";
    color: black;
    margin-left: 440px;
    font-size: x-large;

}
.container {
    display: table;
    width: 100%;
  }
  .left-half {
    position: absolute;
    left: 0px;
    width: 50%;
  }
  .Reminder{
    color: red;
    margin-bottom: 150px;
    margin-left: 380px;
  }
