.inputBox{
    border-color: burlywood;
    margin: 5px;
    color: burlywood;
    background-color: black;
    height: 50px;
    width: 400px;
    font-size: medium;
    margin-left: 750px;
}
.addButton{
    color: burlywood;
    margin-top: 20px;
    margin-left: 900px;
    
}

.container {
    display: table;
    width: 100%;
}
