
.TodoItem-todo-done{
    font-family: "Century Gothic";
    text-decoration: line-through;
    text-decoration-color: red;
    color: burlywood;
    font-size: large;

}
.TodoItem-todo-{
    font-family: "Century Gothic";
    color: burlywood;
    font-size: large;
}
.RemoveButton{
    margin :15px;
    background-color: orange;
    border-color: orange;
}
.TodoItemBody{
    margin: auto;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    width: 450px;
    margin-bottom: 8px;
    
    border-color: burlywood;
    border:  solid burlywood;
    margin-bottom: 8px;
}
.RemoveButton:hover{
    background-color: white;
}
body{
    background-color: black;
}