.TodoItem-todo-done{
    font-family: "Century Gothic";
    text-decoration: line-through;
    text-decoration-color: red;
    color: burlywood;
    font-size: large;

}
.TodoItem-todo-Undone{
    font-family: "Century Gothic";
    color: black;
    font-size: large;
}
.RemoveButton{
    background-color: beige;
    border-color: beige;
    float:right;
    text-align: center;
    font-size: 25px;
}
.TodoItemBody{
    margin: auto;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    width: 450px;
    margin-bottom: 8px;
    border-color: burlywood;
    border:  solid burlywood;
    margin-bottom: 8px;
    margin-right: 750px;
}
.RemoveButton:hover{
    background-color: white;
}
.TodoItem{
    margin-top: 20px;
    margin-left: 720px;
}
.modal{
    display: inline-block;
}
